<div class="container">
    <h1 class="text-center" style="color:purple">Contact To Our Mumbai Office!</h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Connect With</th>
                <th>Email</th>
                <th>Contact #</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Manager</td>
                <td>manager@infoway.com</td>
                <td>+91 020-2378-2389</td>
            </tr>
            <tr>
                <td>Hr</td>
                <td>hr@infoway.com</td>
                <td>+91 020-2378-2390</td>
            </tr>
        </tbody>
    </table>

</div>
