@model List<Customer>

<div>
    <h1>Welcome To Infoway Customers List!</h1>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Contact Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.City</td>
                </tr>
            }
        </tbody>
    </table>

</div>
